* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bkgrnd {
  background-image: url(https://i.pinimg.com/564x/51/28/a1/5128a106eaf08b80973433791fa06add.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100vw;
  text-align: center;
  height: fit-content;
  background-image: url(https://i.pinimg.com/564x/8a/a7/f3/8aa7f39e153dc80ca16855071320063c.jpg);

}

h1 {
  color: white;
  padding: 20px;
}

.picture-button {
  width: fit-content;
  background-color: grey;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: azure;
}

.space-contents {
  width: fit-content;
  font-size: 2rem;
  color: rgb(17, 166, 221);
  height: fit-content;
  padding: 35px;
  margin: 60px;
  border: 1px solid rgb(125, 168, 182);
  border-radius: 10px;
}

.sp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}